@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);


body{
	background-image:url("https://lh4.googleusercontent.com/-3eBjuQpOGFw/U47yh_-OycI/AAAAAAAAI2U/uaU5pK49N1w/s1600/normal.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;

	font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}
