<admin-navbar></admin-navbar>
<br>
<div class="container">

  <md-list ng-cloak>
    <md-subheader class="md-no-sticky">Vores behandler</md-subheader>
    <md-list-item class="md-3-line" ng-click="goToTherapist(therapist)" ng-repeat="therapist in therapists">
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" />
      <div class="md-list-item-text" layout="column">
        <h2>{{therapist.name}}</h2>
        <h3>{{therapist.description}}</h3>
      </div>
      <md-button class="md-secondary" ng-click="deleteTherapist(therapist)">Delete</md-button>
    </md-list-item>
  </md-list>
    </md-list>
  <br>

  <div class="btn btn-primary">
    Create new
  </div>
</div>
