<md-dialog aria-label="Ret behandling"  ng-cloak flex>
  <form name="treatmentForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ret behandling</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Title:</label>
          <input ng-model="modifiedTreatment.name" required placeholder="Title" md-maxlength="50" name="title">
          <div ng-messages="treatmentForm.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Beskrivelse:</label>
          <textarea ng-model="modifiedTreatment.description" md-maxlength="600" rows="10" md-select-on-focus
                    placeholder="Beskriv behandling" name="description" required></textarea>
          <div ng-messages="treatmentForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 600 characters long.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Pris: </label>
          <input ng-model="modifiedTreatment.price" type="number" step="1" min="1" required placeholder="Angiv pris" name="price">
          <div ng-messages="treatmentForm.price.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="min">Price has to be positive</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Varighed (min): </label>
          <input ng-model="modifiedTreatment.duration" type="number" step="1" min="1" required placeholder="Angiv varighed minutes"
                 name="duration" >
          <div ng-messages="treatmentForm.duration.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="min">Duration has to be positive</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Type: </label>
          <input ng-model="modifiedTreatment.type" placeholder="angiv type af behandling">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Fortryd
      </md-button>
      <md-button ng-disabled="!treatmentForm.$valid" ng-click="answer(modifiedTreatment)" style="margin-right:20px;">
        Gem
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
