<md-dialog aria-label="Ret behandling"  ng-cloak flex>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ret behandling</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Title:</label>
          <input ng-model="modifiedTreatment.name" placeholder="Title">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Beskrivelse:</label>
          <textarea ng-model="modifiedTreatment.description" md-maxlength="600" rows="10" md-select-on-focus
                    placeholder="Beskriv behandling"></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pris: </label>
          <input ng-model="modifiedTreatment.price" type="number" step="1" placeholder="Angiv pris">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Varighed (min): </label>
          <input ng-model="modifiedTreatment.duration" type="number" step="1" placeholder="Angiv varighed minutes">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Type: </label>
          <input ng-model="modifiedTreatment.type" placeholder="angiv type af behandling">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Fortryd
      </md-button>
      <md-button ng-click="answer(modifiedTreatment)" style="margin-right:20px;">
        Gem
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
