<div ng-cloak class="container backGround" flex= "100">

  <md-content class="md-padding backGround" layout-xs="column" layout="column" flex= "70" flex-offset="15">


    <div ng-if = "!isId()"flex-xs flex-gt-xs="50" layout="column" ng-repeat="treatment in treatments" style = "height:100%">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{treatment.name}}</span><br>
            <span class="md-subhead">see more, Click info</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <img src ={{treatment.imageUrl}}>

            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="first center">
          <md-button ng-if="isLoggedIn()">bookTime</md-button>
          <md-button ng-click="goToDetail(treatment)">info</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div ng-if="isId()">
      <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{treatment.name}}</span>
                  <span class="md-subhead">{{treatment.description}}</span><br>
                  <span class="md-subhead">price {{treatment.price}} kr</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-md card-media">
                    <img src ={{treatment.imageUrl}}>
                  </div>
                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="first center">
              <md-button ng-if="isLoggedIn()">bookTime</md-button>
              <md-button ng-click="goBack()">Back</md-button>
              </md-card-actions>
            </md-card>


    </div>



  </md-content>
</div>
