<link rel="stylesheet" href="mystyle.css">
<div  ng-cloak>
  <md-content >
    <md-toolbar style="background-color: #4cae4c" >
      <div class="md-toolbar-tools">
        <h2>
          <span>Admin menu</span>
        </h2>

        <md-button aria-label="Bookings">
          Bookings
        </md-button>
        <md-button aria-label="Behandler">
          Behandler
        </md-button>
        <md-button aria-label="Behandling">
          Behandling
        </md-button>


      </div>
    </md-toolbar>
  </md-content>
</div>
